body {
    background-color:#99ffe6;
background-image:
radial-gradient(at 53% 83%, hsla(325,79%,63%,1) 0px, transparent 50%),
radial-gradient(at 87% 19%, hsla(205,85%,78%,1) 0px, transparent 50%),
radial-gradient(at 67% 86%, hsla(199,96%,69%,1) 0px, transparent 50%),
radial-gradient(at 68% 8%, hsla(83,61%,64%,1) 0px, transparent 50%),
radial-gradient(at 52% 78%, hsla(353,91%,71%,1) 0px, transparent 50%),
radial-gradient(at 51% 74%, hsla(243,98%,70%,1) 0px, transparent 50%),
radial-gradient(at 47% 44%, hsla(41,82%,66%,1) 0px, transparent 50%);
}

* {
    font-family: Parkinsans;
}

h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    margin-top: 0px;
    text-align: center;
    color: white;
}

p {
    text-align: center;
}

a:hover {
    font-size: larger;
}

.container1 {
    margin: 10%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.z, .k {
 border-radius: 10px;
}

.description, .description2 {
    display: flex;
    align-content: center;
    justify-content: center;
}

.zeddicott p, .kelpi p {
    text-align: center;
}

figure {
    align-content: center;
    justify-self: center;
}

footer h6 {
    font-weight: lighter;
    text-align: center;
    margin-bottom: 15px;
}